.video-box {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 10;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(12, 66, 136);
  z-index: 100;
  opacity: 0.6;
}
.home-content {
  z-index: 100;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  text-align: center;
  h1 {
    font-size: 44px;
  }
  h1,
  p,
  a {
    color: white;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 40px;
  }
  p {
    line-height: 2rem;
    font-style: italic;
    margin-bottom: 50px;
  }
  .start-button {
    border: 0.5px solid white;
    padding: 20px 20px !important;
    border-radius: 10px;
    outline: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.137);
    }
  }
}

@media (max-width: 500px) {
  .home-content {
    h1 {
      font-size: 32px;
    }
    p {
      line-height: 1.5rem;
    }
    p,
    a {
      font-size: 12px;
    }
  }
}
