@import "./form";
@import "./nav";
@import "./questions";
@import "./home";

* {
  margin: 0;
  padding: 0;
  color: rgb(30, 32, 34);
  font-family: "Raleway", "Arial, Helvetica, sans-serif";
}

body {
  background-color: rgba(233, 239, 241, 0.63);
}

// .home-screen {
//   height: 100vh;
//   background-image: url("../images/paper.png");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   h1 {
//     position: relative;
//     top: 45%;
//     left: 50%;
//     transform: translate(-50%, -50%);

//     // background-color: gold;
//     display: table;
//   }
// }
