@import "./form";
@import "./nav";
@import "./questions";
@import "./home";
@import "./spinner";

* {
  margin: 0;
  padding: 0;
  color: rgb(30, 32, 34);
  font-family: "Raleway", "Arial, Helvetica, sans-serif";
}

body {
  background-color: rgba(233, 239, 241, 0.63);
}

.error_label {
  color: red;
  padding-top: 5px;
}
